@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&family=Work+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    text-align:center;
    background-color:#040f1b;
    color:#ced4da;
    height:5rem;
    line-height: 5rem;
    font-family: 'Tektur', sans-serif;
    font-size: 3rem;
}
.choices{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:3rem;
    margin-top:3rem;
}
img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius:50%;
}
.choice{
    height: 165px;
    width:165px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
}

.choice:hover{
    cursor:pointer;
    background-color:rgb(5, 5, 48);
    opacity:0.8;
    border-radius:50%;
}
.score-board{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:5rem;
    margin-top:3rem;
    font-size:2rem;
    font-family: 'Tektur', sans-serif;
}
#user-score , #comp-score {
font-size: 4rem;
}
#msg{
    background-color:rgb(30, 12, 46);
    color:#ced4da;
    display:inline;
    font-size: 1.5rem;
    padding:0.5rem;
    border-radius:5px;
    font-family: 'Tektur', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
}
.msg-container{
  margin-top:3rem;
  /* border-radius:30px; */
}
.msg-container:hover{
    cursor:pointer;
}